FYERS_APP_ID=
FYERS_SECRET=
FYERS_REDIRECT_URI=https://api.trading.quantumvora.com/api/auth/callback
FYERS_ACCESS_TOKEN=
FYERS_REFRESH_TOKEN=

BROKER_MODE=fyers
PAPER_TRADING=true

DEBUG=false
LOG_LEVEL=INFO
ADMIN_SECRET_KEY=
